#back-to-show-button {
  position: absolute;
  right: 40px;
  top: 10px;
  width: 80px;
  background: #337AB7;
  color: #fff;
  vertical-align: middle;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  border: none;

  &:hover {
    background: #00FFFF;
    cursor: pointer;
  }
}
